.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    color: #4c3307;
    text-align: center;

    @media (min-width: 768px) {
        text-align: left;
    }
}
