.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 24px;
    margin-top: 48px;
    font-family: "Raleway", sans-serif;
    color: #f6a618;
    border-top: 4px solid #f6a618;
}
